.MessageBox
{
    position: absolute;
    right: 0;
    top: 0px;
    height: 100vh;
    background-color: #EAF0F7;
    left: 380px;
}
.heading
{
    position: absolute;
    top: 0%;
    width: 980px;
    height: 50px;
    background-color: white;
    left: 2px;
}
.hello
{
    position: absolute;
    left: 35%;
    top: 50%;
}
.matter
{
    position: absolute;
    top: 30%;
    left: 5%;
}
.inputbox{
    position: absolute;
    bottom: 0%;
    right: 0vw;
    left:2px;
    height: 40px;
    background-color: white;
}
.chatbox{
    position: absolute;
    bottom: 0%;
    right: 0vw;
    left:2px;
    height: 40px;
    outline: none;
    border: none;
    background-color: white;
    padding-left: 20px;
    padding-top: 5px;
   text-indent: 25px;
}
.chatbox::placeholder
{
    position: absolute;
    top: 40%;
    left:20px;
    color: gray;
    font-size: 15px;
}
.chatbox:focus
{
    border: none;
}
.inputbox img{
    position: absolute;
    top: 10%;
    right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.image img{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 11px;
    left: 10px;
}
.botmessage{
    position: absolute;
    left: 15px;
    bottom: 20px;
}
.chatmsgs {
    position: absolute;
    right: 15px;
    bottom: 80px;
    height: 20px;
    width: auto;
    display: block;
    background-color: blue;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
  }
  .nomsgs
  {
    display: none;
  }